body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cfcccc;
}

a {
  text-decoration: none;
}

/* Breadcrumb */
.breadcrumb {
  margin-bottom: 60px;
  list-style: none;
}

.breadcrumb ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb-item {
  cursor: pointer;
  color: #000; 
}

.breadcrumb-item:hover {
  text-decoration: underline; 
}

.breadcrumb-item.active {
  color: gray; 
  cursor: auto;
}

.breadcrumb-item.active:hover {
  text-decoration: none;
}

.ss-header {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.ss-header h1 {
  margin-bottom: 0;
}

.ss-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}

.ss-footer p {
  margin: 0;
}
  
.ss-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
/* ScrollToTopButton Styles */
#back-top {
  position: fixed;
  display: flex;
  right: 20px;
  bottom: 80px;
  background-color: #282c34;
  border-radius: 50%;
  padding: 0.875rem;
  -webkit-transition: 0.7s all cubic-bezier(0.03, 0.88, 0.34, 0.97);
  transition: 0.7s all cubic-bezier(0.03, 0.88, 0.34, 0.97);
  -webkit-box-shadow: 0 5px 18px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 18px 2px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: 999;
}

#back-top.visible {
  visibility: visible;
  opacity: 0.9;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#back-top.visible:hover {
  opacity: 1;
}

.ss-main-background {
  background-color: #cfcccc;
  padding: 60px 0;
}
  
/* Heroes List Styles */
.ss-heroes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.ss-hero-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.ss-hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.ss-hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ss-hero-name {
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
}

.ss-hero-details {
  padding: 0 10px 10px;
  text-align: center;
}

.ss-primary-btn {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg, #0d0516 0%, #474e5b 100%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.ss-primary-btn:hover {
  transform: translateY(-2px);
}
  
.ss-error-message {
  color: red;
  font-weight: bold;
}
  
/* Not Found Page Styles */
.ss-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #cfcccc;
  color: #333;
  text-align: center;
}

.ss-not-found h1 {
  font-size: 6rem;
  margin-bottom: 8px;
  color: #282c34;
}

.ss-not-found h2 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.ss-not-found p {
  font-size: 1.2rem;
  margin-bottom: 16px;
}
  
.ss-hero-detail-container {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.ss-hero-detail-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; 
  gap: 20px; 
  margin-bottom: 50px;
}

.ss-hero-detail-image {
  width: 250px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0; 
}

.ss-hero-info {
  flex: 1;
  max-width: 100%; 
}

.ss-graph {
  height: 100vh;
  width: 100%;
}

.ss-hero-detail .ss-hero-name {
  text-align: left;
  margin: 0 0 15px 0;
  font-size: 2em;
  word-wrap: break-word; 
}

.ss-hero-detail p {
  margin-bottom: 10px; 
  display: flex;
  align-items: center;
}

.ss-hero-detail p:last-child {
  margin-bottom: 0;
}

.ss-hero-detail strong {
  color: #282c34;
  margin: 0 10px;
}

.react-flow-container {
  width: 100%;
  height: 600px; /* Adjust the height as needed */
  border: 1px solid #ddd; /* Optional border for visualization */
}