@media (max-width: 768px) {
    .ss-header {
        padding: 10px 0;
    }

    .ss-header h1 {
        text-align: center; 
        font-size: 2em; 
    }

    .ss-header-icon {
        font-size: 0.7em; 
    }

    .ss-main-background {
        padding: 20px 0;
    }

    .breadcrumb {
        margin-bottom: 20px;
    }

    .ss-not-found h1 {
        font-size: 4rem; 
    }

    .ss-not-found h2 {
        font-size: 1.5rem; 
    }

    .ss-not-found p {
        font-size: 1rem; 
    }

    .ss-hero-detail-content {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .ss-hero-detail-image {
        width: 100%; 
        margin-right: 0;
    }

    .ss-hero-detail p {
        justify-content: center; 
    }

    .ss-hero-detail .ss-hero-name {
        font-size: 1.5em; 
    }
}
